<div class="consultar-info-container p-8 min-h-screen flex justify-center items-center">
    <div class="card-container grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Tarjeta de Calculator -->
        <div class="card bg-white text-gray-800 rounded-full shadow-md overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl cursor-pointer"
            routerLink="/consultar-ingenieria">
            <div class="card-image-container flex justify-center items-center h-48">
                <!-- Imagen de Calculadora -->
                <img src="assets/6.png" alt="Calculator Icon" class="card-image">
            </div>
            <div class="card-text p-4">
                <h3 class="text-xl font-semibold text-black">Consultar Ingenieria</h3>
            </div>
        </div>

        <div class="card bg-white text-gray-800 rounded-full shadow-md overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl cursor-pointer"
            routerLink="/consultar-corte">
            <div class="card-image-container flex justify-center items-center h-48">
                <!-- Imagen de Settings -->
                <img src="assets/7.png" alt="Settings Icon" class="card-image">
            </div>
            <div class="card-text p-4">
                <h3 class="text-xl font-semibold text-black">Consultar Corte</h3>
            </div>
        </div>
    </div>