<div class="home-container p-8 min-h-screen flex justify-center items-center">
  <div class="card-container grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- Tarjeta de Calculator -->
    <div
      class="card bg-white text-gray-800 rounded-full shadow-md overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl cursor-pointer"
      routerLink="/calculator">
      <div class="card-image-container flex justify-center items-center h-48">
        <!-- Imagen de Calculadora -->
        <img src="assets/2.png" alt="Calculator Icon" class="card-image">
      </div>
      <div class="card-text p-4">
        <h3 class="text-xl font-semibold text-black">Calculadora</h3>
      </div>
    </div>

    <div
      class="card bg-white text-gray-800 rounded-full shadow-md overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl cursor-pointer"
      routerLink="/normalizar">
      <div class="card-image-container flex justify-center items-center h-48">
        <!-- Imagen de Settings -->
        <img src="assets/5.png" alt="Settings Icon" class="card-image">
      </div>
      <div class="card-text p-4">
        <h3 class="text-xl font-semibold text-black">Normalizar</h3>
      </div>
    </div>

    <!-- Tarjeta de Cut Section -->
    <div
      class="card bg-white text-gray-800 rounded-full shadow-md overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl cursor-pointer"
      routerLink="/cut-section">
      <div class="card-image-container flex justify-center items-center h-48">
        <!-- Imagen de Cut Section -->
        <img src="assets/3.png" alt="Cut Section Icon" class="card-image">
      </div>
      <div class="card-text p-4">
        <h3 class="text-xl font-semibold text-black">Corte</h3>
      </div>
    </div>

    <!-- Tarjeta de Settings -->
    <div
      class="card bg-white text-gray-800 rounded-full shadow-md overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-xl cursor-pointer"
      routerLink="/consultar-info">
      <div class="card-image-container flex justify-center items-center h-48">
        <!-- Imagen de Settings -->
        <img src="assets/4.png" alt="Settings Icon" class="card-image">
      </div>
      <div class="card-text p-4">
        <h3 class="text-xl font-semibold text-black">Consultar</h3>
      </div>
    </div>
  </div>
</div>