.cut-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'ITCAvantGardeStd-Bk', sans-serif;
}

.cut-section {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.title {
    text-align: center;
    font-size: 1.25rem;
    color: #333333;
    margin-bottom: 20px;
    font-weight: bold;
}

.inputs-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 20px;
}

.input-field label {
    color: #555555;
    font-size: 0.875rem;
}

input {
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    color: #333333;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
}

.mt-4 {
    margin-top: 1rem;
}

.p-4 {
    padding: 1rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.text-center {
    text-align: center;
}

.text-gray-700 {
    color: #4a5568;
}

.text-gray-800 {
    color: #2d3748;
}

.bg-gray-100 {
    background-color: #f7fafc;
}

.bg-green-100 {
    background-color: #f0fff4;
}

.text-green-800 {
    color: #2f855a;
}

.bg-red-100 {
    background-color: #fff5f5;
}

.text-red-800 {
    color: #c53030;
}

.bg-black-500 {
    background-color: #333;
}

.bg-black-600 {
    background-color: #444;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modal-content {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 24px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    position: relative;
    text-align: center;
}

.simple-modal {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 1.5rem;
    border-radius: 24px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    color: #333;
}

.success-modal {
    background-color: #f0fff4;
    /* Fondo verde claro */
    border: 2px solid #2f855a;
    /* Borde verde oscuro */
    padding: 2rem;
    /* Aumentamos el padding para más espacio */
    border-radius: 24px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    color: #333;
}

.text-green-500 {
    color: #48bb78;
    /* Color verde para el icono de éxito */
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.bg-black {
    background-color: #333;
}

.bg-gray-200 {
    background-color: #f5f5f5;
}

.text-white {
    color: #fff;
}

.border-gray-300 {
    border-color: #ccc;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    opacity: 0.9;
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

input {
    text-transform: uppercase;
}