<div class="cut-section-container flex items-center justify-center h-screen">
  <div class="cut-section bg-white p-6 rounded-3xl shadow-lg w-full max-w-md">
    <h2 class="title text-2xl text-gray-800 text-center mb-6">Recalcular Consumo</h2>

    <div class="inputs-group grid grid-cols-1 gap-4 mb-6">
      <div class="input-field">
        <label for="genericNumber" class="text-sm text-gray-600">Genérico</label>
        <input type="text" id="genericNumber" [(ngModel)]="genericNumber"
          (input)="transformToUppercase('genericNumber')" (keypress)="allowOnlyAlphanumeric($event)"
          class="mt-1 p-2 rounded bg-gray-100 border border-gray-300 text-gray-800 w-full">
      </div>
      <div class="input-field">
        <label for="orderNumber" class="text-sm text-gray-600">Número de orden</label>
        <input type="text" id="orderNumber" [(ngModel)]="orderNumber" (input)="transformToUppercase('orderNumber')"
          (keypress)="allowOnlyAlphanumeric($event)"
          class="mt-1 p-2 rounded bg-gray-100 border border-gray-300 text-gray-800 w-full">
      </div>
      <div class="input-field">
        <label for="width" class="text-sm text-gray-600">Nuevo ancho</label>
        <input type="number" id="width" [(ngModel)]="width"
          class="mt-1 p-2 rounded bg-gray-100 border border-gray-300 text-gray-800 w-full">
      </div>
    </div>

    <div class="buttons col-span-2 flex justify-center gap-4 w-full md:w-auto flex-wrap">
      <app-button type="primary" class="w-full md:w-auto flex-1 md:flex-none" (click)="checkCut()">Validar</app-button>
      <app-button type="secondary" class="w-full md:w-auto flex-1 md:flex-none"
        (click)="resetForm()">Reiniciar</app-button>
    </div>
    <br>

    <app-modal *ngIf="showRecalculateModal" [modalTitle]="modalTitle" [modalMessage]="modalMessage"
      [showConfirmButton]="showConfirmButton" [isSuccess]="modalTitle === 'Recalculo Exitoso'"
      (onClose)="closeRecalculateModal()" (onConfirm)="confirmRecalculate()"></app-modal>

    <div class="results-container"
      *ngIf="!detalleSeleccionado && recalculationResults && recalculationResults.length > 0">
      <table class="w-full text-sm text-left text-gray-700">
        <thead class="text-xs uppercase bg-gray-200 text-gray-700">
          <tr>
            <th scope="col" class="px-4 py-2 bg-gray-100">Sentido</th>
            <th scope="col" class="px-4 py-2 bg-gray-100 text-center">Sesgo</th>
            <th scope="col" class="px-4 py-2 bg-gray-100">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resultado of recalculationResults" class="bg-white border-b border-gray-200">
            <td class="px-4 py-2 text-black">{{ resultado.sentido }}</td>
            <td class="px-4 py-2 text-black text-center">{{ resultado.sesgo }} cm</td>
            <td class="px-4 py-2">
              <app-button type="secondary" (click)="mostrarDetalle(resultado.detalles)">Ver Detalle</app-button>
              <!-- Usando componente app-button -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Detalle de la talla seleccionada -->
    <div *ngIf="detalleSeleccionado" class="detalle-container bg-white p-6 rounded-3xl shadow-lg w-full max-w-md">
      <table class="w-full text-sm text-left text-gray-700">
        <thead class="text-xs uppercase bg-gray-200 text-gray-700">
          <tr>
            <th scope="col" class="px-4 py-2 bg-gray-100 text-center">Talla</th>
            <th scope="col" class="px-4 py-2 bg-gray-100 text-center">Consumo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of detalleSeleccionado" class="bg-white border-b border-gray-200">
            <td class="px-4 py-2 text-black text-center">{{ detalle.talla }}</td>
            <td class="px-4 py-2 text-black text-center">{{ detalle.consumo }} cm</td>
          </tr>
        </tbody>
      </table>
      <div class="flex justify-start mt-2">
        <app-button type="secondary" (click)="ocultarDetalle()">Atrás</app-button> <!-- Usando componente app-button -->
      </div>
    </div>
  </div>
</div>