@font-face {
    font-family: 'ITCAvantGardeStd-Bk';
    src: url('/assets/fonts/ITCAvantGardeStd-Bk.otf') format('opentype'),
        url('/assets/fonts/ITCAvantGardeStd-Bk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('/assets/fonts/Raleway-Bold.otf') format('opentype'),
        url('/assets/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Restflaws';
    src: url('/assets/fonts/Restflaws.otf') format('opentype'),
        url('/assets/fonts/Restflaws.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main-layout {
    display: flex;
    background-color: #d9d9d9
}

app-sidebar {
    width: 100px;
    transition: width 0.3s ease;
}

app-sidebar.collapsed {
    width: 80px; // Ancho cuando está colapsado
}

.main-content {
    flex: 1; // Ocupa todo el espacio restante
}

@media (max-width: 768px) {
    app-sidebar {
        width: 80px; // Sidebar colapsado por defecto en pantallas pequeñas
    }

    .main-content {
        padding: 10px; // Reduce el padding en pantallas pequeñas
    }
}