<div class="normalize-container flex items-center justify-center h-screen overflow-hidden">
    <div class="normalize p-6 rounded-3xl shadow-lg w-full max-w-md">
        <h2 class="title text-2xl text-gray-800 text-center mb-6">Normalizar</h2>

        <div class="inputs-group grid grid-cols-1 gap-4 mb-6">
            <div class="input-field">
                <label for="nroMuestra" class="text-sm text-gray-600">Nro. de Muestra</label>
                <input type="text" id="nroMuestra" [(ngModel)]="nroMuestra" (input)="transformToUppercase('nroMuestra')"
                    (keypress)="allowOnlyAlphanumeric($event)"
                    class="mt-1 p-2 rounded bg-gray-100 border border-gray-300 text-gray-800 w-full">
            </div>
            <div class="input-field">
                <label for="nroGenerico" class="text-sm text-gray-600">Generico</label>
                <input type="text" id="nroGenerico" (input)="transformToUppercase('nroGenerico')"
                    [(ngModel)]="nroGenerico" (keypress)="allowOnlyAlphanumeric($event)"
                    class="mt-1 p-2 rounded bg-gray-100 border border-gray-300 text-gray-800 w-full">
            </div>
        </div>

        <div class="buttons grid grid-cols-1 gap-2">
            <button (click)="normalize()"
                class="bg-black-500 hover:bg-black-600 text-white py-3 rounded-lg w-full">Normalizar</button>
        </div>

        <app-notification-bar *ngIf="message" [message]="message" [type]="messageType" (closed)="clearMessage()">
        </app-notification-bar>
    </div>

    <!-- Modal para la confirmación de sobrescritura -->
    <app-modal *ngIf="showModal" [modalTitle]="modalTitle" [modalMessage]="modalMessage"
        [showConfirmButton]="showConfirmButton" [isSuccess]="false" (onClose)="closeModal()"
        (onConfirm)="confirmOverwrite()"></app-modal>
</div>